html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    padding: 10px 20px;
    color: #fff;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-username {
    font-size: 1.3rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.navbar-username i {
    margin-right: 8px;
}

.icon-large {
    font-size: 2.5rem;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ms-auto {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.wrapper {
    margin-top: 60px;
    display: flex;
    width: 100%;
}

#content {
    width: 100%;
    padding: 0; /* Remover padding para asegurar que el iframe ocupe todo el espacio */
    height: calc(100vh - 60px); /* Ajuste para considerar la altura del navbar */
    position: relative;
}

#content iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0; /* Asegura que no haya margen */
    padding: 0; /* Asegura que no haya padding */
}